*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color: #fbf3ea;
text-align: center;}

 /*estilos generales*/
main img {
     width: 100%;
     height: 100%
}
h2{
    border-top: 10px;
    border-bottom: 10px;
}
.contenerdor {
    display: grid;
    grid-template-columns: 150px 150px ;
    grid-template-rows:30% 30% 30%;
    row-gap: 5px;
    column-gap: 30px;
}

.contenedorprincipal {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: 80px;
row-gap: 70px;
text-rendering: 5px;
column-gap: 20px;
font-size: x-small;
margin: 20px ;
margin-bottom: 50px;
justify-content: space-evenly;
}

.otrositems {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: 80px;
align-items: center;
justify-content: space-evenly;
margin: 8%;
}

main .contenedor {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 180px 180px 180px;
row-gap: 30px;
column-gap: 30px;
margin: 10%;
}

@media only screen and (min-width: 768px) {
   main .contenedor { 
        display: grid;
        grid-template-rows:  40% 40%;
        grid-template-columns: 30% 30% 30% ;
    margin: 10px;}

     .contenedorprincipal {
        grid-template-columns: repeat(5,15%);
        grid-template-rows: 100%;
     }
}

@media only screen and (min-width: 1024px) {
   .contenedorprincipal {
    display: grid;
    grid-template-columns: repeat(5, 200px) ;
    grid-template-rows: 300px;
    column-gap: 40px;
    margin: 20px;
    margin-bottom: 60px;
    justify-content: space-between;
    flex-wrap: wrap;}

     .contenedor {
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: repeat (2,400px);}
    }
 


/*Textos*/

h1 { font-family: "Lora", serif; font-optical-sizing: auto; font-weight:weight; font-style: italic ; text-align: center;color: #26201a;}

h1 { background-color: #deb887;}

main h2 { font-family: "Lora", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; text-align: center;color: #26201a;}

a { font-family: "Lora", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; color: #26201a;  }

p { font-family: "Lora", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; color: #26201a;padding: 0;}

main p { 
    @font-face  
     font-family: "Lora", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; color: #26201a;}


/*color menu*/

header nav div ul li a { font-family: "Lora", serif; font-optical-sizing: auto; font-weight: weight; font-style: normal; color: #695843;}

/*Nosotros*/

main ul p { font-family: "roboto", serif; font-optical-sizing: auto; font-weight: weinght; font-style: normal; color:#fbf3ea; background-color: #26201a;}

.nosotrosdescr {
    display:flex ;
   padding: 100px 40px 100px 40px;
   background-color: #fbf3ea;
   flex-wrap:wrap;}

   .marcas {
 box-sizing: border-box;
    flex-direction: column;
    text-align: center;
padding: 100px ;
margin: auto;}



